<div class="container">
  <aside></aside>
  <main>
    <h3>404</h3>
    <!-- <img id="logo" src="/assets/images/not-found.svg" alt="imagem da logo" /> -->
    <h2>Ops, Página não encontrada...</h2>
    <p>Sinto muito. A página solicitada não foi encontrada.</p>

    <div class="need-help-wrapper">
      <p>Está precisando de ajuda?</p>
      <div class="call-us-wrapper">
        <span>Chama a gente!</span>
        <div class="whats-icon-wrapper">
          <img
            id="logo-whats"
            src="/assets/images/icon-whats.png"
            alt="imagem da logo"
          />
        </div>
      </div>
    </div>
  </main>
</div>
