.title-dialog {
  text-align: center;
  font-weight: bold;
}

#dialog-scheduling {
  background-color: #004aad;
  outline: #004aad 24px solid;
}

::ng-deep .generic-dialog mat-dialog-container {
  border-radius: 10px !important;
}

mat-option {
  background-color: #BFD7FF !important;
  color: #004aad !important;
  outline: #004aad 1px solid;
}

.buttons-dialog {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.button-dialog {
  width: 100%;
}

.form-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.btn-show-password {
  background-color: transparent;
  box-shadow: 0;
  border: 0;
}

input,
label,
.mat-select-value {
  color: #004aad !important;
  font-size: 1rem;
}

::ng-deep .mat-focused .mat-form-field-label {
  color: #004aad !important;
}

::ng-deep.mat-form-field-underline {
  background-color: #004aad !important;
}

::ng-deep.mat-form-field-ripple {
  background-color: #004aad !important;
}

.label {
  color: #004aad;
}

.showPassword {
  color: #004aad;
}

input::placeholder {
  color: #bfd7ff;
  font-size: 14px;
}
