@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&family=Rosarivo&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  color: #fff;
}

html,
body {
  height: 100%;
  background-color: #ededed;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
  transition: all ease 0.2s;
}

button:hover {
  filter: brightness(0.9);
}

.snackBar {
  background-color: #bec6d1;
}

.snackBar span {
  color: #004aad;
  font-weight: bold;
}

.snackBar button {
  background-color: #004aad;
  color: #bec6d1;
}

.btn-primary {
  padding: 0.7rem;
  border-radius: 5px;
  border: 0;
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: bold;
  color: #fff;
  background-color: #226917;
}

.btn-submit {
  margin-top: 1rem;
  padding: 0.7rem;
  border-radius: 5px;
  border: 0;
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: bold;
  color: #fff;
  background-color: #012657;
  border: #012657 solid 2px !important;
  cursor: pointer;
  transition: all ease 0.2s;
}

.btn-submit:disabled {
  pointer-events: none;
  border: gray solid 2px !important;
  background-color: #bec6d1 !important;
  color: gray !important;
  opacity: 0.8;
}


.container {
  max-width: 1440px !important;
  padding: 10px !important;
}

.titulo {
  text-align: center;
  margin: 5vh 0 7vh 0 !important;
  color: #004aad;
  font-size: 2rem !important;
  font-weight: bold;
}

.editar {
  background-color: #08c792 !important;
}

.cancelar {
  background-color: #b41e2a !important;
}

/* background: linear-gradient(180deg, hsla(202, 93%, 17%, 1) 0%, hsla(183, 82%, 32%, 1) 100%, hsla(256, 83%, 72%, 1) 100%); */
