@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&family=Rosarivo&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

html,
body {
  height: 100%;
  background-color: #ededed;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
  transition: all ease 0.2s;
}

button:hover {
  filter: brightness(0.9);
}

.input-form {
  width: 100%;
}

#disable-form .mat-form-field-appearance-legacy .mat-form-field-infix,
#cpfInput .mat-form-field-appearance-legacy .mat-form-field-infix {
  pointer-events: none;
  border-radius: 4px;
  background-color: #DFDFDF !important;
}

#disable-form mat-form-field span,
#disable-form input, #disable-form mat-label,
#cpfInput input, #cpfInput mat-label {
  color: gray !important;
}

#disable-form .mat-form-field-underline,
#cpfInput .mat-form-field-underline {
  background-color: gray !important ;
}

#disable-form .mat-form-field-ripple,
#cpfInput .mat-form-field-ripple {
  background-color: #80808020 !important ;
}

#no-disable-form mat-form-field span {
  color: #004AAD !important;
}

.snackBar {
  background-color: #bec6d1;
}

.form-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.snackBar span {
  color: #004aad;
  font-weight: bold;
}

.snackBar button {
  background-color: #81b2f2;
  color: #004aad;
}

.btn-primary {
  padding: 0.7rem;
  border-radius: 5px;
  border: 0;
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: bold;
  color: #fff;
  background-color: #226917;
}

.btn-submit {
  margin-top: 1rem;
  padding: 0.7rem;
  border-radius: 5px;
  border: 0;
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: bold;
  color: #fff;
  background-color: #012657;
  border: #012657 solid 2px !important;
  cursor: pointer;
  transition: all ease 0.2s;
}

.btn-submit:disabled, .button-dialog:disabled {
  pointer-events: none;
  border: gray solid 1px !important;
  background-color: #DFDFDF !important;
  color: gray !important;
}

.container {
  max-width: 1440px !important;
  padding: 10px !important;
}

.titulo {
  text-align: center;
  margin: 5vh 0 7vh 0 !important;
  color: #004aad;
  font-size: 2rem !important;
  font-weight: bold;
}

.editar {
  background-color: #08c792 !important;
}

.cancelar {
  background-color: #b41e2a !important;
}
