.container {
  position: relative;
  height: 100vh !important;
  display: flex;
  align-items: center;
  justify-content: center;
}

.content {
  margin-top: -5rem;
  width: 90vw;
  display: flex;
  justify-content: space-around;
  height: fit-content;
  align-items: center;
}

@media screen and (max-width: 1000px) {
  .content {
    flex-direction: column;
  }
}
.bem-vindo {
  margin-bottom: 4rem;
  background: rgba(162, 210, 255, 0.603);
  border-radius: 25% 35%;
  padding: 5rem;
  width: auto;
  z-index: 100;
  display: flex;
  flex-direction: column;
  text-align: center;
  color: #004aad;
  font-size: 3rem;
  font-weight: bold;
}

.bem-vindo p:nth-child(1) {
  font-size: 5rem;
}

.bem-vindo p:nth-child(1) span {
  text-transform: uppercase;
}

.bem-vindo p {
  line-height: 0.9;
}

.informacoes {
  max-width: 40%;
  z-index: 21;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 12px;
  width: 100%;
}

.button-informacoes {
  border-radius: 10px;
  font-size: 1rem;

  background-color: #004aad;
  text-transform: uppercase;
  width: 100%;
  padding: 0.6rem 0;
}

@media screen and (max-width: 769px) {
  .bem-vindo {
    background: transparent;
  }

  .button-informacoes {
    width: 150%;
    min-width: 300px;

    align-self: center;
  }
}
