<div class="container">
  <div class="content-wrapper">

    <h2 class="titulo">Meu Perfil </h2>

    <form class="form-wrapper">

      <mat-form-field color="accent">
        <mat-label class="label">Nome</mat-label>
        <input matInput value="" [readonly]="disable" />
      </mat-form-field>

      <mat-form-field color="accent">
        <mat-label class="label">Sobrenome</mat-label>
        <input matInput value="" [readonly]="disable" />
      </mat-form-field>

      <mat-form-field color="accent">
        <mat-label class="label">CPF</mat-label>
        <input matInput mask="000.000.000-00" placeholder="Ex. 123.456.789-01" value="cpf" [readonly]="disable"  />
      </mat-form-field>

      <mat-form-field color="accent">
        <mat-label class="label">Celular</mat-label>
        <input matInput mask="(00) 00000-0000" placeholder="Ex. (11) 96491-8727" value="telephone" [readonly]="disable" />
      </mat-form-field>

      <mat-form-field color="accent">
        <mat-label class="label">Data de Nascimento</mat-label>
        <input matInput mask="00/00/0000" placeholder="Ex. 01/10/2002" value="birth" [readonly]="disable" />
      </mat-form-field>

      <mat-form-field color="accent" *ngIf="disable == 'false' ">
        <mat-label class="label">Senha</mat-label>
        <input matInput [type]="hidePassword ? 'password' : 'text'" />
        <button class="btn-show-password" matSuffix (click)="hidePassword = !hidePassword" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hidePassword">
          <mat-icon class="icon showPassword">{{
            hidePassword ? "visibility_off" : "visibility"
            }}</mat-icon>
        </button>
      </mat-form-field>

      <mat-form-field color="accent" *ngIf="disable == 'false'" >
        <mat-label class="label">Confirmar senha</mat-label>
        <input matInput [type]="hideConfirmPassword ? 'password' : 'text'" />
        <button class="btn-show-password" matSuffix (click)="hideConfirmPassword = !hideConfirmPassword" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hideConfirmPassword">
          <mat-icon class="icon showPassword">{{
            hideConfirmPassword ? "visibility_off" : "visibility"
            }}</mat-icon>
        </button>

      </mat-form-field>
      <button class="btn-submit" (click)="toogleEdit()" *ngIf="disable == 'false'" >Atualizar</button>
      <button class="btn-submit" (click)="toogleEdit()" *ngIf="disable == 'true'" >Alterar</button>
    </form>

  </div>
</div>