main {
  justify-content: center;
  width: 100%;
  display: flex;
  max-width: 700px !important;
  flex-direction: column;
  align-items: center;
}

#title {
  color: #004AAD;
  letter-spacing: 2px;
  font-size: 2.25rem;
}

.form-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.btn-show-password {
  background-color: transparent;
  box-shadow: 0;
  border: 0;
}

input,
label {
  color: #004AAD;
  font-size: 1rem;
}

.btn-submit {
  margin-top: 1rem;
  padding: 0.7rem;
  border-radius: 5px;
  border: 0;
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: bold;
  color: #fff;
  background-color: #004AAD;
  cursor: pointer;
  transition: all ease 0.2s;
}

.btn-submit:hover {
  filter: brightness(0.9);
}

::ng-deep .mat-focused .mat-form-field-label {
  /*change color of label*/
  color: #004AAD !important;
}

::ng-deep.mat-form-field-underline {
  /*change color of underline*/
  background-color: #004AAD !important;
}

::ng-deep.mat-form-field-ripple {
  /*change color of underline when focused*/
  background-color: #004AAD !important;
}

.label{
  color: #004AAD;
}

.showPassword{
  color: #004AAD;
}

input::placeholder{
  color: darkgrey;
  font-size: 14px;
}
