<div class="container">
  <h2 class="titulo">Minhas Consultas</h2>
  <div *ngIf="!show" class="lds-heart loading"></div>
  <div *ngIf="!show" class="lds-heart"><div></div></div>

  <div class="consultations">
    <div *ngFor="let scheduling of dados; index as i">
      <div class="card">
        <div>
          <h3>
            <b>{{ scheduling.doctor }}</b>
          </h3>
          <mat-divider></mat-divider>
          <p><b>Local:</b>{{ scheduling.local }}</p>
          <p><b>Data:</b>{{scheduling.date.toString().substring(0, 10)}}</p>
        <p><b>Horário:</b>{{scheduling.date.toString().substring(11, 16)}}</p>
        </div>
        <div>
          <mat-divider></mat-divider>
          <div class="buttons">
            <button
              class="button-card editar"
              (click)="editScheduling()"
              mat-raised-button
            >
              Editar
            </button>
            <button class="button-card cancelar" (click)="deleteScheduling(scheduling.id)" mat-raised-button>
              Cancelar
            </button>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
