<div class="container">
  <h2 class="titulo">Minhas Consultas</h2>

  <div class="consultations">
    <div class="card">
      <div>
        <h3><b>Médico, Especialidade</b></h3>
        <mat-divider></mat-divider>
        <p><b>Local:</b> Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
        <p><b>Data:</b> 00/00/0000</p>
        <p><b>Horário:</b> 13:30</p>
      </div>
      <div>
        <mat-divider></mat-divider>
        <div class="buttons">
          <button class="button-card editar" mat-raised-button>Editar</button>
          <button class="button-card cancelar" mat-raised-button>Cancelar</button>
        </div>
      </div>
    </div>

    <div class="card">
      <div>
        <h3><b>Médico, Especialidade</b></h3>
        <mat-divider></mat-divider>
        <p><b>Local:</b> Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
        <p><b>Data:</b> 00/00/0000</p>
        <p><b>Horário:</b> 13:30</p>
      </div>
      <div>
        <mat-divider></mat-divider>
        <div class="buttons">
          <button class="button-card editar" mat-raised-button>Editar</button>
          <button class="button-card cancelar" mat-raised-button>Cancelar</button>
        </div>
      </div>
    </div>

    <div class="card">
      <div>
        <h3><b>Médico, Especialidade</b></h3>
        <mat-divider></mat-divider>
        <p><b>Local:</b> Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
        <p><b>Data:</b> 00/00/0000</p>
        <p><b>Horário:</b> 13:30</p>
      </div>
      <div>
        <mat-divider></mat-divider>
        <div class="buttons">
          <button class="button-card editar" mat-raised-button>Editar</button>
          <button class="button-card cancelar" mat-raised-button>Cancelar</button>
        </div>
      </div>
    </div>

    <div class="card">
      <div>
        <h3><b>Médico, Especialidade</b></h3>
        <mat-divider></mat-divider>
        <p><b>Local:</b> Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
        <p><b>Data:</b> 00/00/0000</p>
        <p><b>Horário:</b> 13:30</p>
      </div>
      <div>
        <mat-divider></mat-divider>
        <div class="buttons">
          <button class="button-card editar" mat-raised-button>Editar</button>
          <button class="button-card cancelar" mat-raised-button>Cancelar</button>
        </div>
      </div>
    </div>

    <div class="card">
      <div>
        <h3><b>Médico, Especialidade</b></h3>
        <mat-divider></mat-divider>
        <p><b>Local:</b> Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
        <p><b>Data:</b> 00/00/0000</p>
        <p><b>Horário:</b> 13:30</p>
      </div>
      <div>
        <mat-divider></mat-divider>
        <div class="buttons">
          <button class="button-card editar" mat-raised-button>Editar</button>
          <button class="button-card cancelar" mat-raised-button>Cancelar</button>
        </div>
      </div>
    </div>

  </div>
</div>
