<div class="container-dialog">
  <h1 class="title-dialog">Meu Perfil</h1>
  <div class="form-dialog">

    <form class="form-wrapper">

      <mat-form-field color="accent">
        <mat-label>Selecione a especialidade</mat-label>
        <mat-select
          name="speciality"
          color="accent"
          [(value)]="selectedSpeciality"
        >
          <mat-option></mat-option>
          <mat-option
            *ngFor="let speciality of specialities"
            [value]="speciality"
            >{{ speciality }}</mat-option
          >
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <mat-label [ngClass]="selectedSpeciality == '' ? 'disabled' : 'active'" l
          >Selecione a unidade</mat-label
        >
        <mat-select
          [disabled]="selectedSpeciality == ''"
          color="accent"
          [(value)]="selectedLocal"
        >
          <mat-option></mat-option>
          <mat-option *ngFor="let address of addresses" [value]="address">{{
            address
          }}</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <mat-label [ngClass]="selectedLocal == '' ? 'disabled' : 'active'"
          >Selecione o médico</mat-label
        >
        <mat-select
          color="accent"
          [disabled]="selectedLocal == ''"
          [(value)]="selectedDoctor"
        >
          <mat-option></mat-option>

          <mat-option
            *ngFor="
              let doctor of filterDoctorsBySpeciality(
                selectedSpeciality,
                selectedLocal
              )
            "
            [value]="doctor"
            >{{ doctor.name }}</mat-option
          >
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <mat-label [ngClass]="selectedDoctor.name == '' ? 'disabled' : 'active'"
          >Selecione a data e horário</mat-label
        >
        <mat-select
          color="accent"
          [disabled]="selectedDoctor.name == ''"
          [(value)]="selectedSchedule"
        >
          <mat-option></mat-option>

          <div *ngFor="let doctor of findDoctor()">
            <mat-option
              *ngFor="let schedule of doctor.schedule"
              [value]="schedule"
            >
              {{ schedule }}
            </mat-option>
          </div>
        </mat-select>
      </mat-form-field>

      <div class="buttons-dialog">
        <button class="button-dialog cancelar" mat-dialog-close mat-raised-button>Fechar</button>
        <button class="button-dialog editar" mat-raised-button>Atualizar</button>
      </div>
    </form>
  </div>
</div>
