.title-dialog {
  text-align: center;
  font-weight: bold;
  font-size: medium;
  color: #004aad;
}

::ng-deep .delete-schedule-dialog .mat-dialog-container {
  background-color: #ededed !important;
  border-radius: 10px !important;
}

.buttons-dialog {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.button-dialog {
  width: 100%;
}

.btn-show-password {
  background-color: transparent;
  box-shadow: 0;
  border: 0;
}

input,
label {
  color: #004aad;
  font-size: 1rem;
}

::ng-deep .mat-focused .mat-form-field-label {
  color: #004aad !important;
}

::ng-deep.mat-form-field-underline {
  background-color: #004aad !important;
}

::ng-deep.mat-form-field-ripple {
  background-color: #004aad !important;
}

.label {
  color: #004aad;
}

.showPassword {
  color: #004aad;
}

input::placeholder {
  color: #bfd7ff;
  font-size: 14px;
}
