header {
  background: #004AAD;
  color: #ededed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 2rem;
}
nav {
  flex: 1;
}
ul {
  display: flex;
  justify-content: center;
  gap: 2rem;
}
a {
  color: white;
  font-size: 1rem;
  font-weight: 400;
  padding: 0.2rem;
}

#title {
  color: #BFD7FF;
  font-family: "Rosarivo", serif;
  letter-spacing: 2px;
  font-size: 2rem;
  margin-top: 1.2rem;
  font-weight: bold;
}
#logo {
  width: 10%;
  height: auto;
}
.logo-wrapper {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.my-profile-wrapper {
  flex: 1;
  display: grid;
  place-items: center;
}

.hover {
  --s: 0.1em; /* the thickness of the line */
  --c: #bfd7ff; /* the color */

  padding-bottom: var(--s);
  background: linear-gradient(90deg, var(--c) 50%, #bfd7ff 0)
      calc(100% - var(--_p, 0%)) / 200% 100%,
    linear-gradient(var(--c) 0 0) 0% 100% / var(--_p, 0%) var(--s) no-repeat;
  -webkit-background-clip: text, padding-box;
  background-clip: text, padding-box;
  transition: 0.6s;
}

.selected {
  --_p: 100%;
  --s: 0.1em; /* the thickness of the line */
  --c: #bfd7ff; /* the color */
  color: var(--c);
  padding-bottom: var(--s);
  background: linear-gradient(90deg, var(--c) 50%, #bfd7ff 0)
      calc(100% - var(--_p, 0%)) / 200% 100%,
    linear-gradient(var(--c) 0 0) 0% 100% / var(--_p, 0%) var(--s) no-repeat;
  -webkit-background-clip: text, padding-box;
  background-clip: text, padding-box;
  transition: 0.6s;
}

.hover:hover {
  --_p: 100%;
  color: #bfd7ff;
}

main {
  display: grid;
  place-items: center;
  overflow-x: hidden;
}

.my-profile-wrapper {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.button-menu {
  border-radius: 50%;
  height: 64px;
  width: 64px;
  background-color: #004AAD;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button-menu  mat-icon {
  color:#004AAD;
  padding: 8px;
  background-color: #BFD7FF;
  outline: 3px solid #BFD7FF;
  border: #004AAD 2px solid;
  border-radius: 50%;
  height: auto;
  width: auto;
}

::ng-deep .mat-menu {
  background: #BFD7FF;
}

.button-matmenu {
  color:#004AAD;
  text-align: center;
}

mat-divider {
  background-color: #004AAD;
}

::ng-deep .mat-menu-content {
  padding: 0 !important;
}
