.content {
  min-height: 100vh;
}

.background-image {
  background-image: url("src/assets/images/background.png");
  height: 100vh;
  width: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.overlay-color {
  background-color: #004aad;
  height: 100vh;
  width: 100%;
  opacity: 0.9;
  display: flex;
  justify-content: center;
}

main {
  width: 80%;
  max-width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logo-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
}

#logo {
  width: 50%;
  height: auto;
}

#title {
  color: #fff;
  font-family: "Rosarivo", serif;
  letter-spacing: 2px;
  font-size: 2.5rem;
}

.form-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.btn-show-password {
  background-color: transparent;
  box-shadow: 0;
  border: 0;
}
.icon {
  cursor: pointer;
  color: #fff;
}

input,
label {
  color: #f0f0f0;
  font-size: 1rem;
}

#welcome {
  color: #fff;
  margin-top: 1.5rem;
}

.btn-submit {
  margin-top: 1rem;
  padding: 0.7rem;
  border-radius: 5px;
  border: 0;
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: bold;
  color: #fff;
  background-color: #012657;
  cursor: pointer;
  transition: all ease 0.2s;
}
.btn-submit:hover {
  filter: brightness(0.9);
}

.register-text {
  margin-top: 1rem;
  color: #fff;
  font-size: 1rem;
}

.register-text a {
  color: #bdd2f5;
  font-weight: bold;
  cursor: pointer;
  text-decoration: 0;
}

.btn-calendar {
  background-color: transparent;
  box-shadow: 0;
  border: 0;
}
