<div class="content">
  <main>
    <div class="logo-wrapper">
      <img id="logo" src="/assets/images/logo.png" alt="imagem da logo" />
    </div>
    <h1 id="title">Lapri Care</h1>
    <h2 id="welcome">Cadastro</h2>

    <form class="form-wrapper" (ngSubmit)="register()" [formGroup]="signupForm">

      <mat-form-field color="accent">
        <mat-label>Nome</mat-label>
        <input matInput value="" formControlName="firstName" />
      </mat-form-field>

      <mat-form-field color="accent">
        <mat-label>Sobrenome</mat-label>
        <input matInput value="" formControlName="lastName" />
      </mat-form-field>

      <mat-form-field color="accent">
        <mat-label>CPF</mat-label>
        <input matInput mask="000.000.000-00" placeholder="Ex. 123.456.789-01" value="cpf" formControlName="cpf" />
      </mat-form-field>

      <mat-form-field color="accent">
        <mat-label>Celular</mat-label>
        <input matInput mask="(00) 00000-0000" placeholder="Ex. (11)96491-8727" value="telephone" formControlName="phone" />
      </mat-form-field>

      <mat-form-field>
        <mat-label>Data de nascimento</mat-label>
        <input [matDatepicker]="picker" matInput formControlName="birthDate" />
        <div class="btn-calendar" matSuffix>
          <mat-datepicker-toggle matSuffix matIconSuffix [for]="picker">
          </mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </div>
      </mat-form-field>

      <mat-form-field color="accent">
        <mat-label>Senha</mat-label>
        <input matInput [type]="hidePassword ? 'password' : 'text'" formControlName="password" />
        <button class="btn-show-password" matSuffix (click)="hidePassword = !hidePassword" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hidePassword">
          <mat-icon class="icon">{{
            hidePassword ? "visibility_off" : "visibility"
            }}</mat-icon>
        </button>
      </mat-form-field>

      <mat-form-field color="accent">
        <mat-label>Confirmar senha</mat-label>
        <input matInput [type]="hideConfirmPassword ? 'password' : 'text'" formControlName="confirmPassword" />
        <button class="btn-show-password" matSuffix (click)="hideConfirmPassword = !hideConfirmPassword" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hideConfirmPassword">
          <mat-icon class="icon">{{
            hideConfirmPassword ? "visibility_off" : "visibility"
            }}</mat-icon>
        </button>
      </mat-form-field>

      <button class="btn-submit" [disabled]="signupForm.invalid" type="submit">Cadastrar</button>

    </form>

    <p class="register-text">
      Já possui uma conta? <a routerLink="/login">Entrar.</a>
    </p>
  </main>

</div>
