.content {
  min-height: 100vh;
  background-image: url("src/assets/images/background.png");

  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

main {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logo-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
}

#logo {
  width: 20%;
  height: auto;
}

#title {
  color: #fff;
  font-family: "Rosarivo", serif;
  letter-spacing: 2px;
  font-size: 2.5rem;
}

.btn-show-password {
  background-color: transparent;
  box-shadow: 0;
  border: 0;
}
.icon {
  cursor: pointer;
  color: #fff;
}

input,
label {
  color: #f0f0f0;
  font-size: 1rem;
}

#welcome {
  color: #fff;
  margin-top: 1rem;
}

.register-text {
  margin-top: 1rem;
  color: #fff;
  font-size: 1rem;
}

.register-text a {
  color: #bdd2f5;
  font-weight: bold;
  cursor: pointer;
  text-decoration: 0;
}

.btn-calendar {
  background-color: transparent;
  box-shadow: 0;
  border: 0;
}

@media screen and (min-width: 1025px) {
  .form-wrapper {
    width: auto;
    align-self: center;
    justify-self: center;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    place-items: center;
  }

  .form {
    width: 200px;
  }

  button {
    align-self: flex-end;
    height: 2.2rem;
    width: 100%;
    flex: 1;
    padding: 0;
  }
}
