<div class="containera">
  <div class="content-wrapper">
    <section class="section-left">
      <mat-icon>question_answer</mat-icon>
      Suas dúvidas acabam aqui!
    </section>

    <section class="section-right">
      <mat-accordion>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title> Atendemos por plano de saude? </mat-panel-title>
          </mat-expansion-panel-header>
          <p class="faq-answer">
            Sim, aceitamos o LAPRI Sênior, LAPRI Junior e LAPRI Pleno.
          </p>
        </mat-expansion-panel>

        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title> Atendemos sem marcar consulta? </mat-panel-title>
          </mat-expansion-panel-header>
          <p class="faq-answer">
            Apenas atendemos pacientes que possuem hora marcada. Você pode
            marcar sua consulta
            <a routerLink="/home/agendar-consulta">clicando aqui</a>
          </p>
        </mat-expansion-panel>

        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Qual o horario de funcionamento?
            </mat-panel-title>
          </mat-expansion-panel-header>
          <p class="faq-answer">
            Abrimos as 7 da manhã e fechamos as 8 da noite.
          </p>
        </mat-expansion-panel>

        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title> Quais são as unidades? </mat-panel-title>
          </mat-expansion-panel-header>
          <p class="faq-answer">
            Temos 2 unidades: Avenida Paulista, 820 e Avenida Brigadeiro Faria
            Lima, 1200.
          </p>
        </mat-expansion-panel>

        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Quais são as formas de pagamento?
            </mat-panel-title>
          </mat-expansion-panel-header>
          <p class="faq-answer">
            Aceitamos dinheiro fisico na hora da consulta, PIX e também Boleto
            bancário.
          </p>
        </mat-expansion-panel>

        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title> Funcionamos em dias não uteis? </mat-panel-title>
          </mat-expansion-panel-header>
          <p class="faq-answer">Sim, funcionamos todos os dias.</p>
        </mat-expansion-panel>
      </mat-accordion>
    </section>
  </div>
</div>
