<div class="container">
  <div class="top-content">

    <section class="top-sections lightBackground">
      <h2>LAPRI</h2>
      A LAPRI oferece um espaço completo e uma equipe preparada para atendar
      todas as necessidades de seus pacientes. Na Cardiologia possuimos especialista
      renomados internacionalmente, assim como em todas as outras areas nas quais atuamos
      ativamente, seja ela Dermatologia, Neurologia, Ortopedia, Oftalmologia.
      Por anos a LAPRI Care se mostrou um ambiente respeito, profissional, e sempre cumprindo com os objetivos de
      oferecer conforto e qualidade de vida aos seus pacientes.
    </section>

    <section class="blueBackground top-sections">
      <h2>História</h2>
      Fundada em 2006 pelos sócios Alisson Kauan, Pedro Boscachi,
      Iurihenrique Nicolas, Rodrigo Shimizu e Lucas Passos, a LAPRI
      Care se tornou referência em São Paulo. Foi uma das primeiras a adotar
      uma abordagem mais livre na qual o usuário não necessitava ir até lugar nenhum
      nem mesmo ligar para marcar algum agendamento, tudo sendo feito online,
      com o suporte sempre presente para ajudar em quaisquer situações que poderiam vir
      a ocorrer.
    </section>
  </div>

  <div class="down-content">
    <section class="down-sections lightBackground">
      <p class="icon">
        <mat-icon>track_changes</mat-icon>
      </p>
      <h3>Missão</h3>
      Proporcionar uma experiencia marcante no paciente, por meio de uma
      consulta realizada de forma correta, sempre mantendo toda a qualidade e respeito.
    </section>

    <section class="blueBackground down-sections">
      <p class="icon">
        <mat-icon>flag</mat-icon>
      </p>
      <h3>Visão</h3>
      Mostrar o quão simples realizar tudo o que era dificil no passado
      de uma maneira mais leve, e rápida, sem perder nada no processo
    </section>

    <section class="down-sections lightBackground">
      <p class="icon">
        <mat-icon>people</mat-icon>
      </p>
      <h3>Valor</h3>
      Profissionalismo <br>
      Comprometimento <br>
      Respeito <br>
      Dedicação
    </section>
  </div>

</div>
